* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'open-sans-bold'; 
	font-size: 18px;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 2.8em;
}

/* Font Face Settings */
@font-face {
    font-family: 'open-sans-bold';
	src: url('../fonts/open-sans/OpenSans-Bold.eot');
    src: url('../fonts/open-sans/OpenSans-Bold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
}	

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #CC0000;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: /*#757575;*/ #ffffff;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

p {
	margin: auto;
	width: 80%;
	/*border: 20px solid #bdc3c7; #f1f1f1;*/
	padding: 10px;
	/*background-color: #f1f1f1;*/
	text-align: left;
}

/* Newsletter Optin Styles */
.optin {
	color: #000000;
	padding-top: 75px;
}

/* Screens Settings */
#optin {	
	background: #F3FAB6;
	border-bottom: 10px solid #CC0000;
}

.portfoliobutton1 {
	border-radius: 10%;
	background-color: #337AB7;
	border-color: #337AB7;
	width: 100px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
}

.portfoliobutton2 {
	border-radius: 10%;
	background-color: #ffffff;
	border-color: #ffffff;
	width: 100px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
}

#portfolio {
	background: #CBE32D;
	border-bottom: 10px solid #CC0000;
/*  width: 100%;
  height: 100%;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
  color: #000000;
}

.servicesbox {
	height: 32%;
	width: 30%;
	border-radius: 3%;
	color: #ffffff;
	float: left;
	margin: 1.0%;
}

.servicesbox1 {
	background-color: #8CC251
}

.servicesbox2 {
	background-color: #3B579D
}

.servicesbox3 {
	background-color: #4B4B4B
}

.servicesbox4 {
	background-color: #4CD964
}

.servicesbox5 {
	background-color: #2E294E
}

.servicesbox6 {
	background-color: #3B579D
}


#services {
	background: #A8CD1B;
	border-bottom: 10px solid #CC0000;
}

#blog {
	background: #ADD8E6;
	border-bottom: 10px solid #CC0000;
}

#testimonials {
	background: #D0D0D0;
	border-bottom: 10px solid #CC0000;
}

#aboutme {
	background: #005A31;
	border-bottom: 10px solid #CC0000;
}

#hireme {
	background: #B4151B;
	border-bottom: 10px solid #CC0000;
}

#footersection {
	background: #3B3B3B;
}

.footercontainer {
  /*background-color: #3B3B3B #2D2C2A;*/ color: #ffffff; /*height: 350px; margin-top: -20px;*/
}

.footerwidget {
  width: 33%; height: 100%; float: left; /*text-align: justify;*/
}

.footerul {
  list-style: none; padding: 0; margin: 0;
}



#social {
	background: #292929;
	height: 100px;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}




