* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'open-sans-bold'; 
	font-size: 18px;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 2.8em;
}

/* Font Face Settings */
@font-face {
    font-family: 'open-sans-bold';
	src: url('../fonts/open-sans/OpenSans-Bold.eot');
    src: url('../fonts/open-sans/OpenSans-Bold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
}	

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #CC0000;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: /*#757575;*/ #ffffff;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

p {
	margin: auto;
	width: 60%;
	/*border: 20px solid #bdc3c7; #f1f1f1;*/
	padding: 10px;
	/*background-color: #f1f1f1;*/
	text-align: justify;
}

/* Newsletter Optin Styles */
.optin {
	color: #000000;
	padding-top: 75px;
}

/* Screens Settings */
#optin {	
	background: #F3FAB6;
	border-bottom: 10px solid #CC0000;
}

<section id="portfolio"></section>
<section id="services"></section>
<section id="blog"></section>
<section id="testimonials"></section>
<section id="aboutme"></section>
<section id="hireme"></section>
<section id="footersection"></section>
<section id="social"></section>

#portfolio {
	background: #CBE32D;
	border-bottom: 10px solid #CC0000;
}

#services {
	background: #A8CD1B;
	border-bottom: 10px solid #CC0000;
}

#blog {
	background: #ADD8E6;
	border-bottom: 10px solid #CC0000;
}

#testimonials {
	background: #D0D0D0;
	border-bottom: 10px solid #CC0000;
}

#aboutme {
	background: #005A31;
	border-bottom: 10px solid #CC0000;
}

#hireme {
	background: #B4151B;
	border-bottom: 10px solid #CC0000;
}

#footersection {
	background: #3B3B3B;
}

#social {
	background: #292929;
	height: 100px;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}




